body{
    background-color: #f8f9fa!important;
}
/* navbar header
.navbar{
    background-image: url('eng.jpeg');
    
}*/
p{
    color : whitesmoke;
}


.navbar-brand {
  position: relative;
  left: 5%;
  top: 0px;
  font-family: "Viaoda Libre", cursive;
  font-size: 40px;
  
 
}
span{
    color: rgb(5, 92, 5);
    text-decoration: underline;
    
}
/*footer*/

.card-title{
    text-align: center;
    font-size: 30px;
    color: rgb(133, 8, 8);
    font-family: 'Cinzel', serif;
    font-size: 40px;

}
.row{
    margin-left: 2%;
    margin-right: 2%;
}

h1{
    color:red; 
    font-family: 'Cinzel', serif;
    text-decoration: underline;
}
.nav-link{
  font-size: 30px;
  font-family: 'Cinzel', serif;
  text-decoration: underline;
  text-align: center;
    
}

.nav-item{
    margin-left: 15%;
}




@media (min-width: 992px) {
    h1{
        margin-left: 44%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    span{
        font-size: 50px;
    }
    .card{
        background-image: url('chicken1.jpeg');
        background-repeat: no-repeat;
        background-size: 500px ;   
    }
    .nav-link{

       position: relative;
       left: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    position: relative;
    margin-right: 50px;
  }
  .navbar-brand {
    position: relative;
    left: -10%;
  }
  /*footer*/
  h1{
    margin-left: 41%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.card{
    margin-top: 3.5%;
}
.card{
    background-image: url('chicken1.jpeg');
    background-repeat: no-repeat;
    background-size: 720px ;   
}



.nav-item{
margin-right: 100px;
}
.navbar-nav{
    background-color: rgb(5, 161, 5);
}


}


@media (min-width: 522px) and (max-width: 767px) {
  .navbar-brand {
    position: relative;
    left: 0%;
  }
  .navbar-toggler {
    position: relative;
    margin-right: 20px;
  }
  h1{
    margin-left: 41%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.card{
    background-image: url('chicken1.jpeg');
    background-repeat: no-repeat;
    background-size: 500px ;   
}
.card{
    margin-top: 3.5%;
}


}

@media (max-width: 521px) {
  .logo {
    margin-left: 25%;
    /*footer*/
  }
  .card{
      margin-top: 5%;
    }
    h1{
        margin-left: 35%;
        margin-top: 2%;
        margin-bottom: 5%;   
    }
    .card{
        background-image: url('chicken1.jpeg');
        background-repeat: no-repeat;
        background-size: 500px ;   
    }
    
    .nav-link{
        position: relative;
        right: 30px;
    }
   
}


    
   
